* {
	font-family: "Silkscreen", sans-serif;
	font-size: 25px;
	color: white
  }
  
body {
	background-image: url("../images/fondo.png");
	background-repeat: repeat;
	background-size: 128px 128px;
	background-color: mediumvioletred;
	background-blend-mode: darken;
}
h1 {
	font-weight: bolder;
}

div.head {
	text-align: center;
}

div.entrada {
	background-color: #000000;
}
