@font-face {
	font-family:"minecraft";
	src: url("Minecraftia-regular.ttf");
}

body {
	background-image: url("fondo.png");
	background-repeat: repeat;
	background-size: 128px 128px;
	background-color: mediumvioletred;
	background-blend-mode: darken;
	font-family: minecraft;
	color: white;
}
h1 {
	font-weight: normal;
}

div.head {
	text-align: center;
}

div.entrada {
	background-color: #000000;
}
